In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix,mean_absolute_error,mean_squared_error

In [2]:
train = pd.read_csv('TRAIN.csv')
train.shape

(188340, 10)

In [3]:
train.head(10)

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52
5,T1000006,249,S1,L3,R2,2018-01-01,1,Yes,39,34211.22
6,T1000007,248,S1,L1,R2,2018-01-01,1,Yes,40,35352.66
7,T1000008,247,S1,L1,R3,2018-01-01,1,Yes,64,52650.00
8,T1000009,246,S3,L1,R3,2018-01-01,1,Yes,62,42633.78
9,T1000010,254,S4,L1,R1,2018-01-01,1,Yes,87,62572.80

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             188340 non-null  object
 1   Store_id       188340 non-null  int64
 2   Store_Type     188340 non-null  object
 3   Location_Type  188340 non-null  object
 4   Region_Code    188340 non-null  object
 5   Date           188340 non-null  object
 6   Holiday        188340 non-null  int64
 7   Discount       188340 non-null  object
 8   #Order         188340 non-null  int64
 9   Sales          188340 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 14.4+ MB

In [5]:
train['Sales'].describe()

count    188340.000000
mean      42784.327982
std       18456.708302
min           0.000000
25%       30426.000000
50%       39678.000000
75%       51909.000000
max      247215.000000
Name: Sales, dtype: float64

In [6]:
train.isnull().sum()

ID               0
Store_id         0
Store_Type       0
Location_Type    0
Region_Code      0
Date             0
Holiday          0
Discount         0
#Order           0
Sales            0
dtype: int64

In [7]:
train.duplicated().sum()

0

In [8]:
train['Store_Type'].unique()

array(['S1', 'S4', 'S3', 'S2'], dtype=object)

In [9]:
train['Store_Type'] = train['Store_Type'].map({'S1':1, 'S2':2, 'S3':3, 'S4':4})

In [10]:
train['Location_Type'].unique()

array(['L3', 'L2', 'L1', 'L5', 'L4'], dtype=object)

In [11]:
train['Location_Type'] = train['Location_Type'].map({'L1':1, 'L2':2, 'L3':3, 'L4':4, 'L5':5})

In [12]:
train['Region_Code'].unique()

array(['R1', 'R4', 'R2', 'R3'], dtype=object)

In [13]:
train['Region_Code'] = train['Region_Code'].map({'R1':1, 'R2':2, 'R3':3, 'R4':4})

In [14]:
train['Discount'].unique()

array(['Yes', 'No'], dtype=object)

In [15]:
train['Discount'] = train['Discount'].map({'No':0, 'Yes':1})

In [ ]:
test = pd.read_csv('TEST.csv')
test.shape

In [ ]:
train.head(10)

In [ ]:
train.info()

In [ ]:
train['Sales'].describe()

In [ ]:
train.isnull().sum()

In [ ]:
train.duplicated().sum()

In [ ]:
train['Store_Type'].unique()

In [ ]:
train['Store_Type'] = train['Store_Type'].map({'S1':1, 'S2':2, 'S3':3, 'S4':4})

In [ ]:
train['Location_Type'].unique()

In [ ]:
train['Location_Type'] = train['Location_Type'].map({'L1':1, 'L2':2, 'L3':3, 'L4':4, 'L5':5})

In [ ]:
train['Region_Code'].unique()

In [ ]:
train['Region_Code'] = train['Region_Code'].map({'R1':1, 'R2':2, 'R3':3, 'R4':4})

In [ ]:
train['Discount'].unique()

In [ ]:
train['Discount'] = train['Discount'].map({'No':0, 'Yes':1})